.locations {
    height: 100%;
    width: 25%;
    color: black;
    border-right: 1px solid #DDDDDD;
    text-align: left;
    float: left;
    margin-left: 30px;
}
.amenities {
    height: 100%;
    width: 25%;
    color: black;
    text-align: left;
    float: left;
    margin-left: 30px;
}
h3 {
    font-weight: 600;
    padding: 0px;
    margin: 0px;
    margin-top: 17px;
}
h4 {
    font-weight: 0px;
    font-size: 14px;
    margin: 0px;
    padding: 0px;

}